@background: #C6E5D9;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

html, body, #cadet, .columns {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, nimbussansl, liberation, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  background: @background;
}

.issue-management {
  position: fixed;
  right: 0;
  bottom: 0;

  .octicon {
    cursor: pointer;
    color: fade(#fff, 50%);

    &:hover {
      color: white;
    }
  }
}

.issue-search {
  position: relative;

  .clear-selected {
    position: absolute;
    left: -20px;
    bottom: 12px;
  }

  input {
    font-size: 14px;
    padding: 12px;
    background: fade(#fff, 20%);
    border: 0;
    color: #fff;
    width: 500px;

    &::placeholder {
      color: #fff;
    }

    &:focus, &:hover {
      background: #fff;
      color: #333;
    }
  }
}

.issue-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;

  &:first-of-type .issue-info {
    border-top-left-radius: 10px;
  }

  .issue-buttons {
    position: absolute;
    bottom: 22px;
    left: -20px;
  }
}

.issue-info {
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #e1e4e8;
  width: 500px;
  position: relative;

  &:hover {
    background: #f6f8fa;
  }

  &.anticipated {
    background: fade(#fff, 50%);
  }

  .issue-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 1.25;
  }

  .issue-meta {
    font-size: 12px;
    color: #767676;
    line-height: 1.4;
  }

  a:hover {
    color: #0366d6;
  }
}

.octicon {
  vertical-align: middle;
}

.issue-labels {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-height: 18px;
  text-align: right;
}

.issue-label {
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  vertical-align: text-top;
  margin-left: 4px;
  width: 18px;
  height: 18px;
  white-space: nowrap;

  .issue-label-text {
    display: none;
    font-weight: 600;
  }

  &:hover {
    width: auto;

    .issue-label-text {
      display: initial;
    }
  }
}

.issue-actors {
  float: right;
  margin-top: -2px;
  margin-right: -2px;
}

.issue-actor {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  margin-left: 4px;
  background-color: #fff;
  border-radius: 3px;
}

@card-width: 300px;
@card-margin: 8px;

.card {
  display: inline-block;
  width: @card-width;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  box-sizing: border-box;
  margin: @card-margin @card-margin @card-margin 0;
  background: #fff;
  cursor: move;
  white-space: normal;
  vertical-align: top;

  &:first-child {
    margin-left: @card-margin;
  }
}

.projects {
  ::-webkit-scrollbar {
    width: 15px;
    margin-left: -5px;
  }

  ::-webkit-scrollbar-track {
    background: lighten(@background, 10%);
    border-bottom-right-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fff;
    border: 5px solid lighten(@background, 50%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}

.project-columns {
  display: flex;
  flex-direction: row;

  .column {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: @card-margin;
    background: fade(#fff, 50%);
    border-radius: 5px;
    height: 173px; /* 4 lines of text, hopeful limit */

    &:first-child {
      margin-left: @card-margin;
    }
  }

  .backlog-column {
    flex-grow: 1;
    position: relative;
  }

  .in-flight-column {
    width: @card-width + (2 * @card-margin);
    flex-shrink: 0;
  }

  .done-column {
    width: @card-width + (2 * @card-margin);
    flex-shrink: 0;
  }
}
