@import "colors.less";

@background: @gray-light;
@project-bg: @gray;
@project-column-bg: lighten(@project-bg, 5%);
@column-bg: transparent;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, nimbussansl, liberation, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  background: @background;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.cadet {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-page {
  flex-grow: 1;

  display: flex;
  flex-direction: row;

  // convince firefox to make the sub-panes individually scrollable
  min-height: 0;

  .page-content {
    overflow-y: auto;
    flex-grow: 1;
    position: relative;
  }

  .page-sidebar {
    overflow-y: auto;
    flex-shrink: 0;
    min-width: 300px + (2 * @card-margin) + 15px; // 15px = controls

    background: @gray-dark;

    .card {
      margin-left: @card-margin;
      margin-bottom: 0;
      border-color: @black;

      &.anticipated {
        opacity: 0.5;
        box-shadow: none;
      }
    }

    .no-cards {
      text-align: center;
      color: @gray-light;
      font-size: 14px;
      padding: @card-margin;
    }
  }
}

.bottom-bar {
  flex-shrink: 0;

  background: @gray-dark;
  height: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .nav {
    display: flex;
    flex-direction: row;
  }

  .button {
    color: @white;
    display: inline-block;
    flex-shrink: 0;
    padding: 12px;
    text-align: center;

    &:hover {
      background: @gray;
    }
  }

  .user-info {
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 12px;

    .user-avatar {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
      margin-top: -2px;
    }

    .log-in-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      vertical-align: middle;
      display: inline-block;
      margin-right: 7px;
      margin-top: -2px;
    }
  }
}

.card-search {
  display: flex;
  flex-direction: row;

  .octicon {
    cursor: pointer;
    color: fade(#fff, 50%);

    &:hover {
      color: white;
    }
  }

  input {
    font-size: 14px;
    padding: 0 12px;
    line-height: 40px;
    background: fade(#fff, 20%);
    border: 0;
    color: @white;
    width: 300px + (2 * @card-margin) + 15px;

    &::placeholder {
      color: @white;
    }

    &:focus, &:hover {
      background: @white;
      color: @black;
    }
  }
}

.card-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .card-buttons {
    color: @white-fade-50;
    margin-top: @card-margin;
    margin-left: -(@card-margin * 2);
    margin-bottom: 0;
    padding: 4px 2px 4px (@card-margin + 4px);
    flex-grow: 1;
    background: @black;
    border-top-right-radius: @card-margin;
    border-bottom-right-radius: @card-margin;
    border: 1px solid @gray-900;
    border-left: 0;

    .octicon {
      cursor: pointer;

      &:hover {
        color: @white;
      }
    }
  }
}

.draggable {
  cursor: move;
}

.dragging, .drag-overlay {
  cursor: grab;
  z-index: 2;

  .card {
    box-shadow: 0 3px 6px @black-fade-30;
    border: 1px solid @gray;
  }
}

.card {
  width: @card-width;
  background: @white;
  border: 1px solid @gray-200;
  border-radius: 3px;
  box-sizing: border-box;
  margin: @card-margin;
  background: #fff;
  white-space: normal;
  vertical-align: top;
  user-select: none;
  display: flex;
  flex-direction: row;
  position: relative;

  &.highlighted {
    box-shadow: 0 0 0 5px @yellow;
  }

  &:first-child {
    margin-left: @card-margin;
  }

  &.in-flight, &.done, &.backlog, &.icebox {
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }

  &.icebox::before {
    background: @gray;
  }

  &.in-flight::before {
    background: @yellow;
  }

  &.done::before {
    background: @green;
  }

  &.backlog::before {
    background: @blue;
  }
}

.card-icons {
  display: flex;
  flex-direction: column;
  padding: 14px;
  padding-right: 0;

  .octicon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
  }

  .open { color: @green; }
  .closed { color: @red; }
  .merged { color: @purple; }
}

.card-info {
  flex-grow: 1;
  padding: 12px;

  .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 1.25;
  }

  .card-meta {
    font-size: 12px;
    color: #767676;
    line-height: 1.4;
  }

  a:hover {
    color: @blue;
  }
}

.card-note {
  font-size: 14px;
}

.octicon {
  vertical-align: middle;
}

.card-labels {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-height: 18px;
  text-align: right;
}

.card-label {
  display: inline-block;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  vertical-align: text-top;
  margin-left: 4px;
  width: 18px;
  height: 18px;
  white-space: nowrap;

  .card-label-text {
    display: none;
    font-weight: 600;
  }

  &:hover {
    width: auto;

    .card-label-text {
      display: initial;
    }
  }
}

.card-actors {
  float: right;
  margin-top: -2px;
  margin-right: -2px;
}

.card-actor {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  box-sizing: content-box;
  margin-left: 4px;
  background-color: #fff;
  border-radius: 3px;
}

@card-width: 300px;

// NOTE: when changing, be sure to update drop area height in elm
@card-margin: 8px;

.column {
  flex-shrink: 0;
  width: @card-width + (2 * @card-margin);

  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.drop-area {
  height: 60px;
  position: relative;
  top: -30px;
  margin-bottom: -60px;
  z-index: -1;
  // opacity: 0.1;

  &.active {
    z-index: 3;
    cursor: grabbing;
    transition: all 0.2s ease-in-out;
    // background: red;
  }

  &.over {
    transition: all 0.2s ease-in-out;
    // background: green;
    // opacity: 0.5;
  }

  &:last-child {
    transition: all 0.2s ease-in-out;
    flex-grow: 1;
    min-height: 60px;
  }

  &.never-left {
    transition: none;
  }
}

.icebox-graph {
  position: relative;
  background: @gray-300;

  .drop-area {
    height: auto !important;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 0;

    &.over {
      background: @white-fade-70;
    }
  }
}

.project-table {
  padding: @card-margin * 2;
}

.projects {
  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: lighten(@project-column-bg, 5%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: lighten(@project-column-bg, 25%);
  }
}

.project {
  h4 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: @card-margin;
  }
}

.name-column {
  width: 150px + (@card-margin * 2);
  text-align: right;
}

.project-name-columns {
  display: flex;
  flex-direction: row;

  h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: @card-margin;
  }

  .column {
    background: @column-bg;
    border-top-left-radius: @card-margin;
    border-top-right-radius: @card-margin;
    margin-right: 2 * @card-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.project-spacer-columns {
  display: flex;
  flex-direction: row;

  .column {
    background: @column-bg;
    height: @card-margin;
    margin-right: 2 * @card-margin;

    &:last-child {
      margin-right: 0;
    }
  }

  .name-column {
    background: transparent;
  }
}

.project-columns {
  display: flex;
  flex-direction: row;

  .column {
    box-sizing: content-box;
    white-space: nowrap;
    border-right: (@card-margin * 2) solid @project-bg;
    background: @project-column-bg;

    &:last-child {
      border-right: 0;
      border-top-right-radius: @card-margin;
      border-bottom-right-radius: @card-margin;
    }
  }

  .card {
    border-color: @project-bg;
  }

  .name-column {
    background: @project-bg;
    border-top-left-radius: @card-margin;
    border-bottom-left-radius: @card-margin;
    border-right: 0;
  }

  .backlog-column {
    .draggable {
      opacity: 0.5;

      // XXX: these are awkward because the drop area is a sibling
      &:nth-child(2) {
        opacity: 1;
      }

      &:nth-child(4) {
        opacity: 0.75;
      }
    }
  }
}

.project.single {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 100%;

  .project-columns {
    flex-direction: column;
    flex-grow: 1;
    background: @gray;

    .column {
      border-right: 0;
      border-bottom: (@card-margin * 2) solid @project-bg;

      &:last-child {
        border-bottom: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .name-column {
      width: @card-width + (2 * @card-margin);
      border-radius: 0;
      text-align: left;
      border-bottom: 0;
    }
  }
}

.spatial-graph {
  background: @gray-300;
  text-align: center;
}

svg {
  vertical-align: middle;

  .hidden {
    visibility: hidden;
  }

  .reveal:hover .hidden {
    visibility: visible;
  }

  .issue-number {
    fill: @gray;
  }

  .pr-circle {
    fill: @green;
  }

  .anticipated-circle {
    fill: @yellow;
  }
}
