* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

html, body, #customs, .columns {
  height: 100%;
}

body {
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  background: #666;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.cell-title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 0 7px;
  color: #fff;
  display: block;
  background: #333;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.cell-content {
  overflow-y: auto;
  height: 100%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #fff;
}

.topic {
  margin: 5px;
}

.iteration {
  padding: 10px 10px 0;
  border-top: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.iteration-title {
  color: #333;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.topic-issues {
  .issue-summary {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    &:first-child {
      border-top: 1px solid #ddd;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
}

.topic-stories .story:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.topic {
  .story {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .issue {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

.story-summary {
  padding: 2px;
  padding-left: 26px;
  position: relative;
}

.story-summary:before, .reaction .emoji {
  margin-right: 5px;
  font-size: 11px;
  vertical-align: middle;
}

.issue-engagement {
  color: fade(#333, 50%);
}

.issue-type {
  color: #6cc644;
}

.issue-engagement:hover {
  cursor: pointer;
  color: #333 !important;
}

.story-summary:before {
  position: absolute;
  top: 4px;
  left: 5px;
  line-height: 18px;
}

.story.feature .story-summary:before {
  content: "\2b50";
}

.story.bug .story-summary:before {
  content: "\1f41e";
}

.story.chore .story-summary:before {
  content: "\2699";
}

.issue-summary {
  display: flex;
  flex-direction: row;

  .issue-cell {
    padding: 12px;
    padding-right: 0;

    &:last-child {
      // would be 12px as above, but account for extra whitespace left after
      // octicon (visually 14px even though font size is 16px and it's square)
      padding-right: 10px;
    }
  }
}

.unscheduled {
  background-color: #e4eff7;
}

.unstarted {
  background-color: #f4f4f4;
}

.started, .finished, .delivered, .rejected {
  background-color: #f0f0c6;
}

.accepted {
  background-color: #daebcf;
}

.story.accepted {
  border-top-color: #eefce2;
  border-bottom-color: #c3d5b4;
  border-left-color: #c3d5b4;
  border-right-color: #c3d5b4;
}

.issue-location {
  font-family: Helvetica, Arial, nimbussansl, liberation, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.issue-info {
  font-family: Helvetica, Arial, nimbussansl, liberation, sans-serif;
  flex-grow: 1;

  .issue-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: 1.25;
  }

  .issue-meta {
    font-size: 12px;
    color: #767676;
    line-height: 1.4;
  }
}

.issue-flair {
  flex-shrink: 0;
}

.issue-summary {
  border-bottom: 1px solid #eee;

  &:hover {
    background: #f5f5f5;
  }

  a:hover {
    color: #4078c0;
  }
}

.story-location,
.story-labels {
  line-height: 19px;
  display: block;
}

.reaction, .issue-comments {
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 15px;
  margin-left: -5px;
}

::-webkit-scrollbar-track {
  background: #eee;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #bbb;
  border: 5px solid #eee;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.story-labels {
  .story-label {
    color: #063;
    font-size: 10px;
    font-weight: 700;

    &:after {
      content: ", ";
    }

    &:last-child:after {
      content: "";
    }
  }
}

.octicon {
  vertical-align: middle;
}
